<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <p>Employee Id: {{employeeId }}</p>
    <p>Last Punch: {{employeeLastPunch }}</p>
    <p>In: {{clockedIn }}</p>
    <button class="btn btn-primary" (click)="clockInOut()">ClockIn/Out</button>

    <p *ngIf="!timepunches"><em>Loading...</em></p>


   
    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="timepunches">

        <thead>
            <tr>
                <th>Punch #</th>
                <th>Employee ID</th>
                <th>Username</th>
                <th>Clock In</th>
                <th>Clock Out</th>
                <th>Adjust Punch</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let punches of timepunches">
                <td>{{ punches.id }}</td>
                <td>{{ punches.userId }}</td>
                <td>{{ punches.userName }}</td>
                <td>{{ punches.clockIn }}</td>
                <td>{{ punches.clockOut }}</td>
                <td>
                    <button type="button" class="btn btn-success" (click)="adjustTimePunch(punches.id)">
                        Adjust
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>

